[2014-11-07 23:06] fazibear opened #1 "Can't compile"
Trying to compile it, but have errors:

[code]

[code]

[2014-11-07 23:38] #1 closed, assigned to nobody

[2015-01-05 16:52] fazibear opened #2 "crystal_lib_gen"
Here is my quite working tool for generating C bindings in Crystal
Written in ruby, based on gen_ffi gem.

https://github.com/fazibear/crystal_lib_gen

Hope you like it :)

[2015-01-05 18:17] asterite commented on #2
Wow, that's AWESOME!!

I followed the README instructions and it worked flawlessly :-)

I think that eventually we'll want a tool like this to be integrated in the compiler (or at least as a companion to the main binary) because it will make it so much easier to write C bindings. So preferably we would have this written in Crystal, but for now it's really, really good to have this and we will defi

[2015-01-05 18:51] fazibear commented on #2
You're right! Fixed :)

This should work to all possibile function names.
[code]

[2015-01-05 18:54] fazibear commented on #2
I have to look at libuv, this one not work.

[2015-05-31 21:38] BlaXpirit opened #3 "Does this only show define constants?"
If so, this should probably be specified... I've spent quite some time trying to get this to work.

[2015-05-31 23:26] asterite commented on #3
Yes, we started working on this and couldn't advance because structs didn't bind well. Now that it's fixed we should continue working on this... I guess.

[2015-10-12 08:21] ysbaddaden opened #7 "Include clang system include dir"
I failed to convert a C header with a reference to `limits.h`, because it eventually `#include_next` the compiler's own `limits.h` which can't be found.

I think `crystal_lib` should add this folder automatically to it's search path. The default place, as per the [clang tooling documentation](http://clang.llvm.org/docs/LibTooling.html), is `$(dirname $(which clang-3.5))/../lib/clang/3.5/include` b

[2015-10-27 22:41] #3 closed

[2015-10-28 02:00] samis opened #8 "Unsupported primitive kind: Invalid (Exception)"
Using this input:
[code]
The following stacktrace is produced:
[code]
I've most likely screwed up in the definition, but just making this issue in case I didn't.

[2015-10-28 14:55] asterite commented on #8
I can look at this, but I need to have access to Eina.h and its contents. There must be something missing to support.

[2015-10-28 19:18] samis commented on #8
No problem, it's one of the development headers for an opensource library.
The file can be viewed in the git repository at https://git.enlightenment.org/core/efl.git/tree/src/lib/eina/Eina.h

[2015-10-30 17:12] asterite commented on #8
It seems the issue is that some structs use `va_args` or `__builtin_va_args`... I'm still not sure how to map those or where those are defined, I'll keep investigating.

[2015-10-31 02:51] samis commented on #8
http://man7.org/linux/man-pages/man3/stdarg.3.html might help.

[2015-11-03 18:03] #8 closed

[2015-11-03 18:07] asterite commented on #8
@samis With HEAD you can now generate bindings for eina. The headers have some nested structs inside structs and these aren't supported right now, I'll try to fix that next.

[2015-11-03 18:47] asterite commented on #8
And now nested structs are also supported! \o/

[2015-11-10 03:31] samis opened #9 "Generated code fails to compile due to including multiple definitions of a data structure."
(I had difficulty coming up with a good title for this.) Since #8 was fixed, the tool can now successfully parse and generate code for Eina.h which is excellent. The generated code even almost compiles without manual intervention :grinning:. However, there is one issue with the generated code: It defines the struct `X___Data` twice, causing it to fail to compile. The two definitions start [here](h

[2015-11-10 15:49] asterite commented on #9
@samis I'm not getting that definition. I use:

[code]

Maybe I need to include more `.h` files? What `Include` are you using?

[2015-11-10 15:52] asterite commented on #9
In my case `/Users/asterite-manas/Sandbox/efl` contains the git checkout for the efl project, https://git.enlightenment.org/core/efl.git/tree

[2015-11-10 15:57] samis commented on #9
I'll perform further testing then to see if I can achieve the same result.

[2015-11-10 16:28] samis commented on #9
Right. Even with the following `Include` it still generates the data structure:
[code]
The directory given is a fresh clone of the the git repository.
I even more my system copy of the headers out of the way in order to eliminate them. I'm going to see exactly which file causes this to happen.

[2015-11-10 16:45] asterite commented on #9
Oh, it's working fine on mac osx. The problem seems to happen in linux. I'll try to reproduce it, seems like a bug in nested fields.

[2015-11-10 16:48] samis commented on #9
I've narrowed it down to the contents of `eina_lock.h`. I'll see if I can narrow it down to the specific functions causing it.

[2015-11-10 17:18] asterite commented on #9
@samis Can you check now? I think I fixed it

[2015-11-10 17:29] samis commented on #9
It seems to be fixed, I'll take a more indepth-look in a moment.

[2015-11-10 18:03] samis commented on #9
Yep, this appears to be fixed now.

[2015-11-10 18:03] #9 closed

[2015-11-10 19:25] asterite commented on #9
\o/

[2015-11-24 20:09] luislavena commented on #7
@ysbaddaden could output from `clang -print-search-dirs` be used?

[2015-12-09 23:03] aladagemre opened #11 "Overlapping function names: ignores case"
I'm trying to generate wrapper for igraph. Here is one case that is missed: when function names are the same when turned into lowercase.

A function name ending with a lowercase D:

    fun revolver_ml_d = igraph_revolver_ml_d(graph : T*, niter : IntegerT, kernel : VectorT*, cites : VectorT*, delta : RealT, filter : VectorT*, logprob : RealT*, logmax : RealT*) : LibC::Int

And the function name wi

[2015-12-09 23:09] aladagemre opened #12 "Weird typedef struct is translated incorrectly"
When generating binding for igraph see

https://github.com/igraph/igraph/blob/a98fccd3fb2a9f67551a09d4159ef268ee62c658/include/igraph_datatype.h

    typedef struct igraph_s {
      igraph_integer_t n;
      igraph_bool_t directed;
      igraph_vector_t from;
      igraph_vector_t to;
      igraph_vector_t oi;
      igraph_vector_t ii;
      igraph_vector_t os;
      igraph_vector_t is;
      void

[2015-12-09 23:21] aladagemre opened #13 "Incorrect translation va_list to VaList"
When creating binding for igraph,

the crystal_lib generates "alias VaList = LibC::VaList" statement but it says "undefined constant LibC::VaList" when I include the generated content. I have to replace it with: alias VaList = UInt8[24] then it works.

https://github.com/igraph/igraph/search?p=3&q=va_list&utf8=%E2%9C%93
See the generated code: https://github.com/aladagemre/crystal-igraph/blob/0ce5

[2015-12-09 23:24] aladagemre commented on #11
https://github.com/aladagemre/crystal-igraph/blob/0ce58a79bdeab565af3dca6e19bcfbf2285b9b9c/lib_igraph.cr

[2015-12-09 23:24] aladagemre commented on #12
https://github.com/aladagemre/crystal-igraph/blob/0ce58a79bdeab565af3dca6e19bcfbf2285b9b9c/lib_igraph.cr

[2015-12-10 09:08] DmitryBochkarev commented on #13
current crystal master have LibC::VaList https://github.com/manastech/crystal/blob/master/src/libc.cr#L41

[2015-12-10 09:39] aladagemre commented on #13
OK, it seems like its due to I'm using 0.9.1 (30 Oct) and the commit as made on Nov 3.

[2015-12-10 09:39] #13 closed

[2015-12-10 14:10] asterite commented on #11
Good find. I'll try to think of a solution. Maybe always using downcase for the names is not good.

[2015-12-10 14:12] asterite commented on #12
I'm not sure what's the issue. Is it that `T` is used instead of `T*`? The `type` declaration seems fine, although maybe in those cases declaring the struct as `struct T` (without declaring `S`) should be good?

[2015-12-19 14:59] aladagemre commented on #12
when I use T.new, it says T doesn't have method new.
When I try to cast T to S, it says S can't be casted to T.

I don't know what's the reason for this.

[2016-03-10 09:36] ysbaddaden opened #15 "Parse macro definitions within enum declaration"
I stumbled upon some enums in linux libc headers that look like this (I'm trying to automatize Crystal's LibC definitions):

[code]

When trying to extract the constants, CrystalLib will output the following, when I would have expected the actual integers:

[code]

I tried to investigate if we could know that the macro definition was inside an enum but to no avail, the `visit(cursor)` method first

[2016-03-11 08:53] ysbaddaden opened #16 "Function definition doesn't follow macro definitions"
CrystalLib fails to find a function that is hidden behind a macro. For example in FreeBSD the `inet_pton` method is defined indirectly, and CrystalLib fails with `unknown function "inet_pton"` since it references a Define, not a FunDef:

[code]

[2016-03-11 09:44] ysbaddaden opened #18 "Can't parse octal values"
I just got: "can't parse value of constant O_RDONLY: 00"

I suppose we should transform the value to `0o0` when value starts with a `0`.

[2016-03-11 13:33] #15 closed

[2016-03-11 13:33] #16 closed

[2016-03-11 13:33] #18 closed

[2016-03-15 14:32] oprypin opened #19 "Typedef enums are ignored"
This example gives no output during conversion:

[code]

[2016-03-15 19:39] BlaXpirit commented on #19
This may be just my misunderstanding. Perhaps *crystal_lib* only exports items relevant to the exported functions? In which case, that may not be such a good idea. The enums are sometimes just sets of constants.

[2016-03-22 12:53] BlaXpirit opened #20 "Compile failure in latest release"
First off, this may be a problem with the compiler itself, but other libs work under the same circumstances

**Steps to reproduce:**

Run Ubuntu 14.04, for example:

[code]

[code]

**Error:**
[code]

Some other things I tried: https://travis-ci.org/BlaXpirit/crystal-lib/builds

[2016-03-22 12:59] asterite commented on #20
Thank you for reporting this, @BlaXpirit

The problem is because of [these lines](https://github.com/crystal-lang/crystal_lib/blob/master/src/crystal_lib/lib_body_transformer.cr#L1-L4):

[code]

They don't require the full compiler's source, and because of new type annotations they now don't work because some types are not imported. It's fixed if we change it to:

[code]

That's a temporary soluti

[2016-03-22 12:59] asterite commented on #20
I was initially a bit worried that we introduced a regression in the compiler, but doesn't seem like it :sweat_smile:

[2016-03-22 13:45] #20 closed

[2016-04-25 20:26] puppetpies opened #22 "Build Error undefined constant Clang::TranslationUnit"
root@86ddba087d31:~/crystal_lib# make crystal_lib
crystal build src/crystal_lib.cr
Error in ./src/crystal_lib/parser.cr:12: undefined constant Clang::TranslationUnit

  @tu : Clang::TranslationUnit
        ^~~~~~~~~~~~~~~~~~~~~~

make: *** [crystal_lib] Error 1

[2016-04-26 00:20] asterite commented on #22
Oops, the Makefile is wrong. Thanks.

[2016-04-26 00:20] #22 closed

[2016-04-26 10:09] puppetpies opened #23 "undefined reference to `llvm::DIBuilder::DIBuilder(llvm::Module&)'"
Any ideas i have LLVM 3.6 and Clang installed

root@86ddba087d31:~/crystal_lib# make
crystal build src/main.cr
/opt/crystal/src/llvm/ext/llvm_ext.o: In function `LLVMNewDIBuilder':
llvm_ext.cc:(.text.LLVMNewDIBuilder+0x25): undefined reference to`llvm::DIBuilder::DIBuilder(llvm::Module&)'
/opt/crystal/src/llvm/ext/llvm_ext.o: In function `LLVMDIBuilderCreateLexicalBlock':
llvm_ext.cc:(.text.LLVMDI

[2016-04-26 12:24] puppetpies commented on #23
Just read https://github.com/crystal-lang/crystal/issues/2393 - If compiled with 0.13 Crystal it will work.

[2016-06-15 20:30] zcassini opened #24 "Fails to generate examples."
I've tried version 16, 17.4, 18.0 and get the same error.
I get this error with all the examples.

Running with this command:
`crystal src/main.cr -- examples/lib_curses.cr`

Gives these results:
[code]

[2016-06-15 20:36] #24 closed

[2016-06-15 20:36] asterite commented on #24
Thanks for letting us know! :-)

[2016-06-15 22:16] zcassini opened #25 "libffi.so.6: error adding symbols: DSO missing from command line"
I'm getting this error trying to generate the examples.
I have libllvm3.6v5 and libllvm3.6-dbg packages installed.
I also llvm 3.8 installed.
I'm not sure how this linking works.

[code]

Some version info:
[code]

[2016-06-17 13:57] asterite commented on #25
Sorry, I never tried this on Ubuntu, I'm on OSX so I don't know why it doesn't work.

Seems to be related to https://github.com/crystal-lang/crystal/issues/1269 and https://github.com/will/crystal-pg/issues/14

[2016-09-11 23:18] jeromegn opened #29 "Does not work with Crystal 0.19.x"
First I got:

[code]

and once I fixed that, I got:

[code]

Running with:

[code]

Here's the header file for reference: [cassandra.h](https://github.com/datastax/cpp-driver/blob/72c03d601f2ba7e30b40bbdc6ad249123bb36d9f/include/cassandra.h)

[2016-09-12 00:07] asterite commented on #29
@jeromegn Thanks! I had the changes on my machine and forgot to push them after the release.

[2016-09-12 00:07] #29 closed

[2016-09-12 00:17] jeromegn commented on #29
Thanks for the quick resolution!
On Sun, Sep 11, 2016 at 5:07 PM Ary Borenszweig <notifications@github.com>
wrote:

[2016-09-15 08:23] timuckun opened #30 "problems building"
make

crystal build src/main.cr
/usr/bin/ld: cannot find -lclang
collect2: error: ld returned 1 exit status
Error: execution of command failed with code: 1: `cc -o "/home/tim/source/crystal_lib/main" "${@}"  -rdynamic`llvm-config-3.6 --ldflags 2>/dev/null || llvm-config-3.5 --ldflags 2>/dev/null || llvm-config --ldflags 2>/dev/null`-lclang -lpcre -lgc -lpthread /opt/crystal/src/ext/libcrystal.a -l

[2016-09-15 13:27] asterite commented on #30
[code]

You need to install libclang

[2016-09-15 13:48] timuckun commented on #30
I installed that and the rest of the rest of the libs but maybe I am still missing something.

[code]

[2016-09-15 15:18] asterite commented on #30
What's your OS? How did you install Crystal?

[2016-09-15 22:12] timuckun commented on #30
I could not install it on a mac so I am trying it on ubuntu 16-04 (virtualbox). I installed crystal using the instructions. I added the repository and then apt-get install crystal.

[2016-09-16 17:02] asterite commented on #30
Sorry, I don't know what else to do to help you

[2016-11-04 14:24] ysbaddaden opened #31 "clang segfault on ARM64"
crystal_lib segfaults on AArch64 hardware, because of an infinite loop on `clang_visitChildren` with LLVM 3.9 and merely crashes with LLVM 3.8. I haven't investigated to understand why, yet.

[2016-11-15 15:04] SuperPaintman commented on #30
@timuckun I solved this problem:

[code]

[2016-11-24 18:05] Bew78LesellB commented on #11
@asterite did you conclude on something?

[2016-12-10 01:47] Bew78LesellB opened #33 "crystal specs do not pass"
With `Crystal 0.20.1 (2016-12-06)` I get

`..........EE..E.EEE..E....F.EEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE`
[code]
I didn't tried with older crystal version, I just discovered this tool and tried to use it !

I also get a lot of `/usr/include/stdlib.h:32:10: fatal error: 'stddef.h' file not found`, I'm on :
[code]

Thanks

[2017-01-17 21:47] danny8376 commented on #33
stddef.h is a header file provided by compiler, try something like $export C_INCLUDE_PATH=/usr/lib/clang/3.9.1/include (for Arch with clang 3.9.1)

[2017-01-17 22:14] danny8376 opened #34 "Clang::Type::Kind::Elaborated support for clang 3.9"
Since clang 3.9 introduced new Elaborated type, leading sturct typedef unbindable.

<pre>crystal src/main.cr -- examples/libc.cr</pre>
<pre>
Don't know how to convert struct div_t (119) (Exception)
0x496e37: *CallStack::unwind:Array(Pointer(Void)) at ??
0x496dca: *CallStack#initialize:Array(Pointer(Void)) at ??
0x496d9a: *CallStack::new:CallStack at ??
0x485f0e: *raise<Exception>:NoReturn at ??
0x

[2017-01-27 18:18] bararchy opened #36 "Running the example crashes"
[code]

[2017-02-01 13:26] fazibear commented on #36
I have different issue:

[code]

[2017-02-01 15:50] olbat opened #37 "Enumerated types support"
The current implementation does not seems to support [enumerated types](https://en.wikipedia.org/wiki/Enumerated_type#C), is that desired ?

Example:
[code]

Tests has been made with https://github.com/crystal-lang/crystal_lib/commit/029bd721a0d5107ba9a2140fe9c9780988f2e454 and Crystal _0.20.5_ .

[2017-02-01 19:16] olbat commented on #37
I've proposed an implementation in #38 if the feature request is confirmed.

[2017-02-01 20:28] mverzilli commented on #37
Enums are supported. If you provide the absolute path for `mylib.h`, like this:

[code]

You'll see the error goes away. You'll still notice that the enum doesn't get added. That's because `crystal_lib` only transforms the minimum needed for exported functions to work.

So, if you change your `mylib.h` to be:

[code]

You'll get the following `mylib.cr` output:

[code]

[2017-02-01 20:28] #37 closed

[2017-02-01 23:37] olbat commented on #37
I'm not sure I understand: isn't the `MyEnumeratedType` enum supposed to be transformed to a crystal enum defining `MyFirst`, `MySecond` and `MyThird` in the generated code ?

In this short example, the path is not absolute but I actually had this issue trying to port a C lib that uses enumerated types to define error statuses (that does not appear in the generated code).

[2017-02-02 13:22] mverzilli commented on #37
You're welcome! :)

[2017-02-03 21:48] fazibear opened #39 "Don't know how to convert union __mbstate_"
For most of examples I get this exception:

[code]

[2017-02-04 22:48] fazibear commented on #39
https://github.com/crystal-lang/crystal_lib/pull/35 will fix it

[2017-02-05 22:19] mverzilli commented on #36
What example?

[2017-02-05 22:28] mverzilli commented on #39
Would you specify which example returns that? I'm not being able to reproduce this.

[2017-02-05 22:37] #30 closed

[2017-02-06 07:55] fazibear commented on #39
@mverzilli libgit2 for example. But you have to have llvm 3.9 installed.

[2017-02-06 13:19] mverzilli commented on #39
Using llvm 3.9.1 + libgit2 0.25.1 + macOS 10.12.2 it works as expected. What's your env?

I want to merge #35, but for that I need some code samples that reproduce these issues so that I can add regression tests.

Other ways to help me move this forward faster: share a reduced code snippet that will reproduce the issue or even better, write a regression test.

[2017-02-06 13:41] mverzilli opened #40 "IncompleteArrayType spec fails due to LLVM 3.9 backwards incompatible changes"
Env: macOS 10.12.2, LLVM 3.9.1

This test is failing with LLVM 3.9: https://github.com/crystal-lang/crystal_lib/blob/029bd721a0d5107ba9a2140fe9c9780988f2e454/spec/parser_spec.cr#L237

This is a reduced snippet to reproduce the issue:

[code]

When linking against LLVM 3.7, the code above yields:

[code]

Whereas linking against LLVM 3.9, it yields:

[code]

I'll be happy to send in a PR to fix the

[2017-02-06 14:16] ysbaddaden commented on #40
Some changes were introduced in LLVM 3.8 or 3.9, where there are now opaque `EnumType` and `RecordType`, which break how crystal_lib is detecting an Enum type or a Struct definition. I understood the issue, but don't know how to start fixing that for crystal_lib —it seems to rely too much on type when it should rely more on cursors, then seek for types, but I must be mistaken.

[2017-02-06 15:46] fazibear commented on #39
[code]

[code]

[code]

[code]

[code]

[2017-02-06 16:44] bararchy commented on #36
@mverzilli This happens with all of them, same issue, same error.

Using Arch Linux and Crystal HEAD

It even seems now that after pulling HEAD again I see a different error:

[code]

[2017-02-08 10:17] olbat commented on #19
I think that #37 gives an answer to your question.

[2017-02-08 12:42] olbat opened #41 "va_list type support (stdargs.h)"
Hello,

I'm trying to port a library that uses a `va_list` type (from [stdargs.h](https://en.wikipedia.org/wiki/Stdarg.h)) using crystal_lib.

The problem is that it generates an alias to `LibC::VaList` that doesn't seems to exists in any of crystal's lib C bindings so I get an `undefined constant LibC::VaList` at compile time.

Example:
[code]

Am I doing something wrong ?

[2017-02-08 13:10] olbat opened #42 "CamelCased names are Capitalized in enums and types"
Hello,

I'm trying to port a C/C++ lib that defines enums and types which names is written a CamelCased way (it does not really respects C naming convention).

My problem here: when crystal_lib generates my code, every CamelCased names are Capitalized.

Here is an example:
[code]

As you can see, the `TSomeEnum` type is transformed to `Tsomeenum` and `TSomeValue` is transformed to `Tsomevalue`.
Th

[2017-02-08 17:55] mverzilli commented on #41
I investigated this (by the way, thank you so much for including a self contained example in the issue ❤️ ), and I think you're doing nothing wrong.

If, for example, in the generated code you replace `LibC::VaList` with `LibC::ULongLong`, it compiles.

I think the problem is Crystal's LibC bindings don't define `VaList`: https://github.com/crystal-lang/crystal/blob/master/src/lib_c.cr

At the sam

[2017-02-10 21:57] olbat commented on #41
Thank you for your answer ! I'm not sure that replacing `LibC::VaList` by `LibC::ULongLong` is the best idea since it depends on the system's lib C implementation (so it might not work on every OS).

If I understand it properly, I think that crystal's `LibC` lib is generated using @ysbaddaden's https://github.com/ysbaddaden/posix generator that does not support `stdargs.h` yet.

Maybe a way to sol

[2017-02-10 22:54] mverzilli commented on #41
Sorry, maybe my reply wasn't clear. I'm not proposing to replace `LibC::Valist` with `LibC::ULongLong`, I just used that as a way of checking against the bindings that come with Crystal. Anyway, I think we're on the same page with that :).

About the LibC lib being generated with posix, I don't really know, so we can wait for him to confirm. If that's the case, maybe we can move this issue there.

[2017-02-10 23:36] mverzilli commented on #42
I don't think this is desired, so it's a bug. The problem seems to be here: https://github.com/crystal-lang/crystal_lib/blob/master/src/crystal_lib/type_mapper.cr#L244

And judging by the look of the specs: https://github.com/crystal-lang/crystal_lib/blob/master/spec/parser_spec.cr#L181, it seems this case was simply not accounted for.

Do you want to give it a try? It should be a matter of adding

[2017-02-11 08:42] ysbaddaden commented on #41
We don't support `va_list`. We don't use it in Crystal, and it's interface is a bunch of macros that would have to be rewritten for each platform.

You may use `...` in fun definitions instead, which will be handled by LLVM.

[2017-02-11 13:42] mverzilli commented on #41
Thanks for the context info @ysbaddaden! The thing that got me is that it is explicitly listed here: https://github.com/crystal-lang/crystal_lib/blob/d8aca65805db3994e539bf591a99a0064b1caea8/src/crystal_lib/type_mapper.cr#L58

Then I guess we should just remove it from that `when` clause. That will make it raise an "Unsupported primitive kind:", etc.

[2017-02-11 19:58] ysbaddaden commented on #41
I believe the VaList type is for the `...` syntax, not the `va_list` definitions that would be interpreted as C (functions or macros) by clang, which is exactly what happens in your initial example.

We can translate/map the implicit `...` but we can't map the explicit `va_list`. I'm afraid that won't change. Are there no other ways to call the C functions?

[2017-02-11 20:27] mverzilli commented on #41
I see! Watching crystal_lib issues is really forcing me out of my comfort zone with C, so I really appreciate your guidance 🙇  (and your issues @olbat !).

I've read a bit more about `va_list` and I now understand what you mean: it doesn't make any sense for a header other than `stdargs.h` itself to use `va_list`, given it's actually an implementation detail to support `...`. That makes me wonder,

[2017-02-12 12:53] bararchy commented on #36
Working with HEAD.

[2017-02-12 12:53] #36 closed

[2017-02-12 12:56] bararchy opened #43 "libssh2"
Lib file:

[code]

Trying to generate the headers I get:

[code]

Did I do something wrong ? did I miss something ?

[2017-02-12 23:07] mverzilli commented on #43
It seems an env issue. What happens if you try to compile and run a file like this?

[code]

[2017-02-13 09:47] olbat commented on #41
Sadly, not for the functions I've checked ...

Anyway I think I'll leave them for now since it's not the most important functions of the library and I still have other problems to fix (such as symbols renaming/suffixing in shared libraries).

Ofc: I'm working on a binding of the [ICU](http://site.icu-project.org/) library. If it goes well, I'll probably write a crystal wrapper too.

[2017-02-13 12:22] bararchy commented on #43
@mverzilli Yap, this example in C compiles and runs.

[2017-02-13 12:30] bararchy commented on #43
@mverzilli Found out that in Arch Linux the stddef is under `/usr/include/linux/` and not `/usr/include/`
After creating a symlink were good.

[2017-02-13 12:30] #43 closed

[2017-02-13 12:40] mverzilli commented on #43
Thanks for the follow up! The other day I dowloaded an Arch Linux Docker image to reproduce some of these issues and getting it to a usable state was a PITA. The bleeding edge is exciting, but not for everyone :P.

[2017-02-13 14:18] olbat commented on #42
No problem, I'll try to propose a fix today (sry for the late answer).

[2017-02-13 17:39] olbat commented on #42
Here it is #44 .

(I think there was [something wrong in the tests](https://github.com/crystal-lang/crystal_lib/blob/master/spec/lib_body_transformer_spec.cr#L112-L128) and proposed a fix in my first commit, just let me know if it was a mistake)

[2017-02-15 01:49] mverzilli commented on #39
@fazibear we merged #35 so I assume this is fixed. Feel free to reopen if it continues to happen.

[2017-02-15 01:49] #39 closed

[2017-02-15 02:03] mverzilli commented on #19
I agree, closing.

[2017-02-15 02:03] #19 closed

[2017-02-15 03:37] mverzilli commented on #42
Thanks! I'll take a look soon.

[2017-02-19 05:15] mverzilli commented on #42
Fixed through #44

[2017-02-19 05:15] #42 closed

[2017-02-19 05:17] mverzilli commented on #40
We just removed that spec. It didn't make sense to maintain it because anyway we are delegating the responsibility to Clang. So this is fixed (as in, now the specs pass).

[2017-02-19 05:17] #40 closed

[2017-02-19 05:19] mverzilli commented on #33
Closing, if you still couldn't figure it out feel free to comment.

[2017-02-19 05:19] #33 closed

[2017-02-24 14:18] bararchy opened #45 "Invalid memory access"
Crystal 0.21.0 [c2c2276ec] (2017-02-23)

[code]

[2017-02-25 04:11] sh01ch1 commented on #45
I experienced the same problem on Crystal 0.21.0. I'm currently using 0.20.5.

[2017-03-07 09:38] olbat commented on #45
I started to investigate (I'm using LLVM/clang `3.6`), here is what I get with gdb ([full trace](http://pastebin.com/1sVS2bfB)):
[code]

[2017-03-07 09:43] olbat commented on #45
The issue seems to be fixed in the upstream project (cf. https://github.com/crystal-lang/crystal/issues/4078).

[2017-03-12 18:10] olbat commented on #45
Crystal `0.21.1` seems to fix issue (at least for the code I tested), @bararchy @sh01ch1 can you confirm ?

[2017-03-15 11:24] sh01ch1 commented on #45
@olbat it seems OK!

[2017-03-16 13:31] mverzilli commented on #45
Thanks everyone for following up on this!

[2017-03-16 13:31] #45 closed

[2017-04-12 16:43] oltmannsdaniel opened #47 "Error while executing"
Error:
[code]

I installed the required libaries that I found in the travis file and I have the latest crystal version that is released for ubuntu.

[2017-05-11 04:12] AllanCochrane commented on #25
This is still an issue with the latest version of Crystal, any chance someone could take a look?

[code]

[code]

The output is:

[code]

[2017-05-17 16:31] Val commented on #25
Agreed, it's still an issue. Here is another example when using [mongo.cr](https://www.github.com/datanoise/mongo.cr)

**Environment**: a Debian stable (jessie) up to date.
[code]
**Code**: an attempt to connect to a local Mongo database.
[code]
Adding [mongo.cr](https://www.github.com/datanoise/mongo.cr)
[code]
[code]
Add basic code to try db connect
[code]
Attempt to build...
[code]

[2017-05-20 09:30] akzhan commented on #25
Looks like author doesn't provide ldflags to the library. Just for example:

[code]

[2017-05-20 13:53] Val commented on #25
@akzhan How you use this trick for the previous example ?

[2017-05-20 14:25] akzhan commented on #25
`@[Link(ldflags: "location of correct library.")]`

[2017-05-22 10:31] Val commented on #25
@akzhan : seems ldflags are already provided.
[code]

[2017-06-01 14:47] Val commented on #25
Still unable to try [mongo.cr](https://www.github.com/datanoise/mongo.cr), even on Debian stretch (the next stable release), cf. https://github.com/datanoise/mongo.cr/issues/22

[2017-06-10 16:39] #47 closed

[2017-06-10 23:06] Sija commented on #23
@puppetpies Can it be closed or is it still an issue?

[2017-06-10 23:16] Sija commented on #47
Duplicate of #25.

[2017-06-11 00:19] mverzilli commented on #23
I'm going to assume this is not an issue anymore. Please reopen if you still see this happening.

[2017-06-11 00:19] #23 closed

[2017-08-12 17:40] Val commented on #25
Found a bug in `@[Link(ldflags: "...")]`, see https://github.com/crystal-lang/crystal/issues/4825

[2017-08-15 17:00] bew opened #50 "conflicting type in typedef with same struct name, and functions using this typedef"
[code]
Generates:
[code]

---
I've made a little program to test this ([bew/crystal_lib - test.cr](https://github.com/bew/crystal_lib/blob/test-typedef-same-name-error/test.cr)):

Outputs:
[code]
We can see that the `typedef` generates the `alias`, and the function declaration generates the `fun` and the `type`.
Looking at the code, I've found that the `type` is generated when mapping the function

[2017-08-17 17:18] olbat commented on #50
I'm not really sure how this issue should be fixed .but some has to be removed/renamed ...
(IMO it's a bad idea to typedef a struct with it's name but I've seen this kind of code in many libs)

Here is another problem related to the same piece of code:
[code]

[2017-09-18 17:34] ziprandom commented on #50
any updates on this one? it renders crystal_lib unusable for me atm..

[2017-09-25 18:58] ysbaddaden commented on #7
I found a solution: calling `cc -E - -v </dev/null` will print some informations about local paths, most notably the system include paths to search in order (and the default library paths, too).

It works perfectly on Ubuntu Linux with either GCC or clang.

[2017-10-24 16:47] funny-falcon commented on #25
caught again in Ubuntu 17.10:
[code]

[2017-11-07 23:26] pnloyd commented on #25
+1 on Ubuntu 17.10
[code]

[2018-07-19 19:59] Fryguy commented on #41
@olbat Can this be closed now that we have https://github.com/crystal-lang/crystal/pull/5103 ?

[2018-07-20 18:43] olbat commented on #41
Yes, I think it can be closed.

I'll try to run it on the ICU binding to see how it goes :)

[2018-07-21 15:41] #41 closed

[2018-08-17 18:58] Fryguy opened #53 "Can't compile with Crystal 0.26.0"
I'm on macOS High Sierra and tried both

`make`

and

`LLVM_CONFIG=/usr/local/Cellar/llvm/6.0.1/bin/llvm-config make`

(and also tried llvm 5), but I get

`type_mapper.cr:128: no overload matches 'Crystal::Alias.new' with types String, Crystal::Path`

I'll see if I can fix, but I may not have cycles until later.

[2018-08-17 19:08] Fryguy commented on #53
Separate question for maybe @bcardiff ? ... Would it be possible to get this as part of the core testing framework, so Crystal updates don't break this project?

[2018-08-17 20:05] Fryguy commented on #53
Seems to be caused by https://github.com/crystal-lang/crystal/pull/6432

[2018-09-03 15:05] #53 closed

[2018-12-12 12:08] vladfaust opened #57 "libuv: Couldn't import type: uv__io_t (Exception)"
Given `examples/libuv.cr`:

[code]

[code]

[2019-04-25 16:20] olbat opened #58 "default_target-related compilation issue with Crystal 0.28"
The lib does not compile anymore with Crystal 0.28 (more details, see https://github.com/olbat/libgen/issues/33):
[code]

The issue seems to be present with every LLVM versions and platforms I've tested (see
https://travis-ci.org/olbat/libgen/builds/523117414) _[the macOS builds did not fail because they were still using Crystal 0.27]_.

I suspect https://github.com/crystal-lang/crystal/pull/7282

[2019-04-26 19:48] RX14 commented on #58
It's just a require order issue.

[2019-04-26 19:51] bcardiff commented on #58
FYI I run `crystal spec` on this repo when doing the `test-ecosystem` in Linux and OSX platform and I notice no issues so far.

[2019-05-01 15:58] olbat commented on #58
Oh right, sorry for the false alert @bcardiff 😳

I think you're right @RX14 :)

Still, I'm not sure how to fix this...
I tried to add an import to `compiler/crystal/**` a few days ago [but it did not work](https://travis-ci.org/olbat/libgen/builds/523174211).
If you have an idea about how to fix this, can you comment on https://github.com/olbat/libgen/issues/33? Thanks a lot!

However, since the b

[2019-05-01 15:58] #58 closed

[2019-07-01 16:28] wontruefree opened #59 "cannot get examples to work on mac"
I have been trying to get the examples to work on mac because I really want to bind a few c libs that are not in crystal.  I have been getting these errors.  Is this a mac think or is this due to the experimental nature of this?

[code]

[2019-07-01 17:06] #59 closed

[2019-07-13 06:38] shdown opened #60 "Substitute command output inside @[Include(flags: …)] ?"
The [LLVM  example](https://github.com/crystal-lang/crystal_lib/blob/master/examples/llvm.cr) substitutes a command output inside `@[Link(ldflags: …)]`, but not inside `@[Include(flags: …)]`. Is there a way to do the latter? If not, it would be nice to have it.

[2019-07-19 16:26] RX14 commented on #60
This works since `ldflags` is passed directly to the shell. If you want to interpolate shell output into `@[Include]` you'll want to use macros

[2019-07-20 00:03] shdown commented on #60
Could you please give an example of how to do this?

[2019-07-24 21:04] RX14 commented on #60
[code]

should work

[2019-07-25 06:54] shdown commented on #60
No, it does not: running `crystal_lib` on
[code]
results in
[code]

[2019-07-25 21:49] RX14 commented on #60
yeah, seems like this doesn't work :(

[2019-11-06 01:06] didactic-drunk opened #63 "Use builtin crystal types when generating bindings."
Instead of generating `struct stat`, can the bindings use `LibC::Stat`?

I tried opening the issue with `libgen`.  The author [suggested](https://github.com/olbat/libgen/issues/43) I ask here.

[2020-01-13 17:38] olbat opened #64 ""Couldn't import type" exception with circular struct dependencies and typedefs"
@watzon just found a bug while trying to compile a binding for OpenSSL's PKCS7
library (see https://github.com/olbat/libgen/issues/48).

The bug can be reproduced using the following code (assuming that OpenSSL's
headers are available):
[code]

After a bit of testing, I came up with a  simple example to reproduce the bug:
[code]

Problem seems to occur with circular struct dependencies that also u

[2020-01-13 17:43] watzon commented on #64
Look at you go! Thanks for pinging me.

[2020-01-19 10:15] olbat commented on #64
It looks like the issue is coming from the parser.
I implemented a fix, please let me know if there is anything wrong with it.

[2020-01-27 22:43] olbat commented on #57
Looks like it's fixed by https://github.com/crystal-lang/crystal_lib/pull/65 .

[2020-03-01 17:00] olbat opened #66 "Unexposed enums lead to generation of broken bindings"
Unexposed enums in _struct_ fields lead to generation of bindings with _Void_ as field's type.
As _struct_'s fields cannot have the _Void_ type, the generated binding is broken.

To reproduce:
[code]

When trying to use the binding, the following error is thrown at compile time: `can't use Void as a struct field type`.

[2020-03-01 17:04] olbat commented on #66
I've proposed a fix for this in #67.

[2020-08-29 12:36] yduf opened #70 "Structs with bitfields are incorrectly generated"
Hello,

I was just bitten by the fact that when translating struct bitfields are not interpreted properly.
(I am using the [libgen](https://github.com/olbat/libgen) wrapper but I don't think it matters in this case).

For eg [fuse_file_info](https://github.com/libfuse/libfuse/blob/master/include/fuse_common.h)
[code]

is translated to
[code]

And as such, assignment like `fi.writepage = 0` may hav

[2021-02-04 12:06] alexbottoni opened #73 "Compilation problem with Crystal 0.35.1 on Linux Mint 20 - Intel i7"
Looks like we have a problem:

$ crystal src/main.cr -- examples/lib_git2.cr
Showing last frame. Use --error-trace for full trace.

In src/crystal_lib/lib_body_transformer.cr:56:17

 56 | rescue ex : Crystal::CodeError
                  ^
Error: undefined constant Crystal::CodeError

######## This happens when trying to use make, as well:

$ make
crystal build src/main.cr
Showing last frame. Use -

[2021-02-04 18:40] bcardiff commented on #73
The master of this repo requires Crystal 0.36.0 since #72 was merged.

Either update to latest crystal or use `ref: 513e51e0eea9341cd095c820a4563bbf6a53a2e5` (last commit with 0.35 support) in your shard.yml declaration of crystal_lib dependency.

[2021-05-20 21:17] WhoAteDaCake opened #75 "Handle anon structs and unions"
[code]
Would not compile correctly.

[2021-05-21 19:42] WhoAteDaCake commented on #50
Yeah, still problematic

[2021-05-23 01:38] WhoAteDaCake commented on #75
Ended up fixing it on my own fork

[2021-05-26 12:18] beta-ziliani commented on #75
Sorry for the lake of response. Do you mind converting it into a PR?

[2021-05-26 19:53] WhoAteDaCake commented on #75
Excuse me, are you a maintainer? It depends on other PRs so they should get merged first

[2021-06-03 17:46] beta-ziliani commented on #75
I can help. Which PRs?

[2021-06-05 08:14] WhoAteDaCake commented on #75
https://github.com/crystal-lang/crystal_lib/pull/71
https://github.com/crystal-lang/crystal_lib/pull/69
https://github.com/crystal-lang/crystal_lib/pull/67
https://github.com/crystal-lang/crystal_lib/pull/65

[2021-06-30 02:02] kojix2 commented on #70
Same problem with htslib.

[2021-09-27 03:46] Dan-Do commented on #75
Hello @beta-ziliani. Do you still support this project? I saw many PRs in waiting.

[2021-09-29 13:04] beta-ziliani commented on #75
Thanks for the ping! We're discussing the future of this shard with the team, I hope to have news soon. Feel free to ping me again in a couple of weeks.

[2021-09-29 14:58] Dan-Do commented on #25
I had the same issue yesterday with other DSO. It seems I have to install the dev library on Ubuntu. My bad I cannot recall what exactly been done :(

[2021-10-25 10:53] kojix2 opened #76 "Bitfield support"
Hello. Thanks for the great tool.
However, the tool seems to fail to parse structs with bit fields.
Please provide support for bit fields.

[2021-10-31 01:57] kojix2 commented on #76
It would be better if we could link bindings created with crystal_lib with this.
https://github.com/elorest/bitfields

[2021-11-05 18:32] wontruefree opened #77 "cannot find type for long long (Vector)"
I cannot parse `long long (Vector)` with this lib.  I think this might be a problem with the Crystal compiler but I dont know

[code]

[code]

[2022-11-14 08:26] stakach opened #78 "Compiler complains of no `LibC::Bool` type"
The type is generated here:
https://github.com/crystal-lang/crystal_lib/blob/d686bbac0fde83c31882b66ac669b8181795ab19/src/crystal_lib/type_mapper.cr#L45

This occurs on Debian Linux, not sure if `LibC::Bool` is missing for that platform in crystal or it's not something defined for any platform

[2022-11-17 13:30] stakach commented on #78
ping @straight-shoota
would `PrimitiveType::Kind::Bool` align to something like `LibC::SizeT`

[2022-11-17 13:43] straight-shoota commented on #78
I think there is no dedicated `bool` type in classic C. It's just `int`.
That's why `LibC::Bool` doesn't exist for any platform (only on windows there's `LibC::BOOL`).

So `PrimitiveType::Kind::Bool` should probably map to `LibC::Int`.

[2022-11-24 11:36] #78 closed